<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CN.App.DrawingMiniTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CN.App.DrawingTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CN.App.DrawingMiniTools.Properties.Settings>
            <setting name="cb_DimAttDimPartBoltAssembly_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormWidth_df" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="FormHeight_df" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="chbox_DimInternalPart_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chbox_DimClose_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb_SecMarkAttribute_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_SecAttribute_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_SectionMarkPrefix_df" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_SectionMarkNo_df" serializeAs="String">
                <value />
            </setting>
            <setting name="chbox_DimInternalPartInAssembly_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imcb_SelectDimRefCenEdge_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_DimentionAttributes_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imcb_DimensionTo_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_RevText_df" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_RevisionDrawing_df" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_SelectTitleReviseText_df" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_PartBoltOption_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_DimSpaceDim2Part_df" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="tb_DimSpaceDim2Dim_df" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chbox_ClearCurrentDim_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chbox_AddPartMark_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imcb_SectionSide_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chbox_SkewBolts_df" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chbox_AutoFixCutPartLength_df" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chbox_AutoCreateSection_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chbox_AddLine_df" serializeAs="String">
                <value>False</value>
            </setting>
        </CN.App.DrawingMiniTools.Properties.Settings>
        <CN.App.DrawingTools.Properties.Settings>
            <setting name="cb_DimAttDimPartBoltAssembly_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormWidth_df" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="FormHeight_df" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="chbox_DimInternalPart_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chbox_DimClose_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb_SecMarkAttribute_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_SecAttribute_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_SectionMarkPrefix_df" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_SectionMarkNo_df" serializeAs="String">
                <value/>
            </setting>
            <setting name="chbox_DimInternalPartInAssembly_df" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imcb_SelectDimRefCenEdge_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_DimentionAttributes_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imcb_DimensionTo_df" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_RevText_df" serializeAs="String">
                <value/>
            </setting>
            <setting name="txt_RevisionDrawing_df" serializeAs="String">
                <value/>
            </setting>
            <setting name="cb_SelectTitleReviseText_df" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_PartBoltOption_df" serializeAs="String">
                <value>0</value>
            </setting>
        </CN.App.DrawingTools.Properties.Settings>
    </userSettings>
</configuration>
